.main-login {
	margin: auto auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-login {
	margin-bottom: 28px;
}

.input-text {
	width: 284px;
	height: 52px;
	position: relative;

	border: none;
	border-bottom: 1px solid #9F9F9F;

	padding: 21px 2px 13px;
	margin-bottom: 10px;

	font-family: "TT Norms Pro", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;

	color: #000;
	background-color: #fff;
}

.input-text::placeholder {
	color: #9E9E9E;
}

.input-text:hover {
	border-bottom: 1.5px solid #000;
}

.input-text:focus {
	outline: none;
	border: none;
	border-bottom: 1.5px solid #000;
}


.button-login {
	position: relative;
	cursor: pointer;
	width: 280px;
	height: 48px;
	
	font-family: "TT Norms Pro", sans-serif;
	font-weight: 300;
	letter-spacing: 0.6px;
	
	color: #FFF;
	background-color: #000;
	border-radius: 8px;
	border: none;
	opacity: 0.85;
	transition: all .2s ease-in-out;
}

.button-login:hover {
	opacity: 0.95;
}

/* Icon Password */

.icon-password {
	position: relative;
}

.icon-password::after {
	content: "";
	position: absolute;
	cursor: pointer;
	top: -43px;
	right: -169px;
	width: 22px;
	height: 22px;
	
	background: url("/img/login/unauthorized-visibilityIcon.svg") no-repeat;
}

.input-icon-password:checked ~ .icon-password::after {
	background-image: url("/img/login/authorized-visibilityIcon.svg");
	opacity: .5;
}

.registration {
	display: block;
	margin-top: 12px;
	width: 280px;
	padding: 0;
	font-family: "TT Norms Pro", sans-serif;
	line-height: 46px;
	letter-spacing: 0.6px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: rgb(74, 74, 74, 0.9);
	border: 1px solid rgb(74, 74, 74, 0.65);
	border-radius: 8px;
	background-color: #fff;

	transition: .2s ease-in-out;
}

.registration:hover {
	color: #000;
	border-color: #000;
	background-color: rgb(74, 74, 74, 0.05);
}

.forgot-password {
	text-transform: none;

	margin-top: 24px;
	color: #9E9E9E;
	text-decoration: none;
}

.back-button {
	color: #000;
	padding-left: 18px;
	margin-top: 24px;

	position: relative;
	text-transform: none;
	text-decoration: none;
}

.back-button::after {
	content: "";
	position: absolute;
	width: 18px;
	height: 16px;
	top: 50%;
	left: 0;
	transform: translateY(-40%);
	background: url("/img/login/back-arrow.svg") no-repeat;
	background-size: auto 14px;
}

.text-empty {
	text-transform: none;

	
	font-weight: 500;
	line-height: 17px;

	margin: -18px 0 24px;
}

.last-input {
	margin-top: 22px;
}
