@font-face {
	font-family: "TT Norms Pro";

	font-style: normal;
	font-weight: 400;
	font-display: swap;

	src: url("/fonts/TTNormsPro-Regular.woff2") format("woff2");
	src: url("/fonts/TTNormsPro-Regular.woff") format("woff");
}

@font-face {
	font-family: "TT Norms Pro";

	font-style: normal;
	font-weight: 500;
	font-display: swap;

	src: url("/fonts/TTNormsPro-Medium.woff2") format("woff2");
	src: url("/fonts/TTNormsPro-Medium.woff") format("woff");
}

@font-face {
	font-family: "TT Norms Pro";

	font-style: normal;
	font-weight: 300;
	font-display: swap;

	src: url("/fonts/TTNormsPro-Light.woff2") format("woff2");
	src: url("/fonts/TTNormsPro-Light.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;


	font-family: "TT Norms Pro", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	text-transform: lowercase;

	color: #000;
	background-color: #fff;
}

/* Button */

.button {
	position: relative;

	border: 1px solid #000000;
	border-radius: 12px;
	
	padding: 12px 24px;
	margin-right: 24px;

	font-size: 15px;
	letter-spacing: 0.2px;
	text-decoration: none;

	color: inherit;
	background-color: inherit;
}

.gradient {
	background: linear-gradient(90deg, #EBCFDD 0%, #C8C5F3 41.67%, #D1EDE0 100%);
}

.arrow-icon {
	margin-left: 40px;
}

.button:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-radius: 12px;
	background: rgba(0,0,0,0.07);
	transition: all 1s ease;
}

.gradient::before {
	background: rgba(255,255,255,0.2);
}

.button:hover:before {
	width: 100%;
}

/* .button-arrow:hover .arrow-icon path {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	animation: draw 10s linear forwards;
}
@keyframes draw {
	100% {
		stroke-dashoffset: 0;
	}
} */

/* Header */

.logo {
	margin: auto 0;
	margin-right: 35px;
}

.page-header {
	color: #fff;
	background-color: #000;
	margin-bottom: 108px;
}

.navigation {
	display: flex;
	width: 1200px;
	min-height: 60px;
	margin: 0 auto;
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	width: 550px;
	margin: 0;
	padding: 0;
}

.user-menu {
	margin-left: auto;
	justify-content: end;
}

.navigation-link {
	display: block;
	padding: 20px 8px;

	font-weight: 400;
	font-size: 16px;
	text-align: center;
	text-decoration: none;


	color: inherit;
	background-color: inherit;
}

/* Main */

.page-main {
	flex-grow: 1;
}

.page-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

/* Page Description */

.page-description {
	display: flex;
	margin-bottom: 156px;
}

.main-title {
	margin: 0 0 42px;
}

.container-description {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.description-img {
	margin: 0 auto;
}

.buttons-container {
	display: flex;
	justify-content: flex-start;
}

.main-title {
	max-width: 500px;
	
	font-weight: 500;
	font-size: 72px;
	line-height: 85px;
	text-align: left;
}

/* Inner Adventages List */

.inner-advantages-list {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.inner-advantages-list::after {
	content: "";
	width: 100%;
	order: 0;
}

.inner-advantages-item:nth-child(4) {
	order: 1;
}

.inner-advantages-item {
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 30px;

	background-image: url("/img/sqr-icon.svg");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 24px 25px;
}

/* Advantages */

.advantages-list {
	margin: 0;
	padding: 0;
}

.advantages-list > .advantages-item{
	margin-bottom: 108px;
}

.advantages-list > .advantages-item:nth-of-type(3){
	margin-bottom: 156px;
}

.advantages-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.inner-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	max-width: 600px;
}

.inner-container:nth-child(1) {
	align-items: center;
	width: 455px;
}

.inner-container:nth-child(1):not(.text-align-left) .advantages-title, 
.inner-container:nth-child(1):not(.text-align-left) .advantages-description{
	text-align: center;
}

ul .advantages-description {
	padding-right: 24px;
}

.advantages-title {
	margin: 0;
	margin-bottom: 24px;


	font-weight: 500;
	font-size: 36px;
	line-height: 52px;
}
.advantages-description {
	margin: 0;
	margin-bottom: 42px;

	color: rgb(0, 0, 0, 0.5);
}

.advantages-description-list {
	color: rgb(0, 0, 0, 0.5);
}

.advantages-description-item:not(:last-child) {
	margin-bottom: 24px;
	white-space: pre-wrap;
}

.advantages-item:nth-child(2) {
	padding: 48px 0;

	background: rgba(235, 207, 221, 0.3);
}

.advantages-item:nth-child(2) img {
	order: 1;
}

.advantages-item:nth-child(5) {
	padding: 48px 0;

	background: rgba(200, 197, 243, 0.3);
}

/* Business Assistance */

.business-assistance {
	display: flex;
	justify-content: space-between;

	margin: 0 auto 108px;
}

.ba-container {
	display: flex;
	flex-direction: column;
	width: 330px;
	margin-right: 135px;
}

.business-assistance-title {
	width: 400px;
	margin: 0 0 120px;

	font-weight: 500;
	font-size: 90px;
	line-height: 100px;
	text-align: left;
	letter-spacing: -1px;
}

.percentages {
	margin: 8px 0 0;

	font-size: 70px;
	line-height: 80px;
	letter-spacing: -2px;
}

.business-assistance-description {
	margin: 0 0 33px;

	font-size: 22px;
	line-height: 30px;	
}

.purple-text {
	color: #645CE0;
}



/* Manual , Start Now, Questions */

.manual-title, .start-now-title {
	font-weight: 500;
	font-size: 36px;
	line-height: 52px;
}

.manual-subject, .start-now-description {
	font-weight: 500;
	font-size: 16px;
}

.manual-description {
	margin: 0 0 14px;
	width: 280px;

	color: rgba(0, 0, 0, 0.5);
}

.manual {
	display: flex;
	flex-direction: column;
	padding-bottom: 70px;
	margin: 0 auto 108px;
}

.manual-title {
	margin: 0 0 90px;
}

.manual-list {
	display: flex;
	justify-content: space-between;

	position: relative;
}

.manual-list::after{
	content: "";
	position: absolute;

	top: -35px;
	left: -40px;
	width: 1280px;
	height: 25px;

	background: url("/img/line-arrow.svg") no-repeat;
}

.manual-subject {
	margin: 0 0 8px;
}

.start-now {
	display: flex;
	margin: 0 0 108px;
	background: rgba(235, 207, 221, 0.3);
}

.start-now-conatainer {
	width: 788px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 48px auto;
}

.start-now-inner-container {
	display: flex;
	flex-direction: column;
}

.start-now-title {
	margin: 0 0 24px;
}

.start-now-description {
	margin: 0 0 24px;
}

/* FAQ */

.faq {
	margin-bottom: 108px;
}

.faq-list {
	max-width: 640px;
}

.faq-title {
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 36px;
	line-height: 52px;
}

.faq-subject {
	display: block;
	width: max-content;
	cursor: pointer;
	position: relative;
	margin-top: 24px;
	margin-bottom: 8px;

	padding-left: 26px;

	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.2px;
}

.faq-subject::after {
	content: "";
	display: block;

	position: absolute;
	top: 50%;
	left: 0;

	width: 8px;
	height: 14px;

	background: url("/img/faq-arrow.svg") no-repeat center center;
	transform: translateY(-40%);
}

.faq-text {
	display: none;
	margin: 0;
	padding-left: 26px;
	padding-bottom: 12px;

	color: rgba(0, 0, 0, 0.5);
}

.faq-input:checked ~ .faq-text {
	display: block;
}

/* Footer */

.page-footer {
	display: flex;
	height: 285px;
	
	background: url("/img/footer-logo.svg") no-repeat center right 18%;
	color: #fff;
	background-color: #000;
}

.page-footer-container {
	display: flex;
	margin: auto;
	width: 1200px;
	
}

.wrapper {
	display: flex;
	margin-right: auto;
	width: 650px;
	justify-content: space-between;
}

.footer-title {
	margin: 0;
	margin-bottom: 28px; 
	padding: 7px;
	border-radius: 7px;
	background-color: #000;

	font-weight: 500;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
}


.footer-item {
	margin-bottom: 16px;
}

.footer-link {
	padding: 7px;

	text-align: center;
	text-decoration: none;

	color: inherit;
	background-color: #000;
	border-radius: 7px;
}